p {
    background-color: rgb(211, 209, 205);
    text-align: center;
}
li {
    text-align: center;
}
.caja {
    background-color: rgb(211, 140, 7);
    width: 50%;
    height: 20vh;
    border: 2px solid black;
    margin: 10px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    flex-grow: 1;
    flex-basis: 30%;
    flex-shrink: 1;
}
.contenedor {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    display: flexbox;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
.navbar li {
    margin: 0 15px;
    flex: 1;
    text-align: center;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
}
.conteiner {
    display: 1200px;
    margin: 0 auto;
    padding: 20px; 
}
.sidebar {
    width: 25%;
    background-color: #f4f4f4;
    padding: 15px;
}
.main-content {
    width: 75%;
    background-color: orange;
    padding: 20px;
}
.grid-container {
    padding: 10px;
    width: 640px;
    background-color: rgb(240, 235, 229);
    border-radius: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
div {
    height: auto;
    min-height: 70px;
    display: grid;
    place-items: center;
}
body {
   display: flex;
   flex-direction: column;
   height: 100dvh;
}
@media (max-width: 1400px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
.grid-item {
    width: auto;
    height: 100dvh;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    display: grid;
    place-items: center;
}
.imagen {
    width: 300px;
}
.imagen2 {
    width: 170px;
    height: auto;
}
h1 {
    text-align: center;
    display: flexbox;
}